@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/* Color Settings */
/* CSS */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
body {
  background-color: #E9F3F8;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
}

header * {
  padding: 0;
  margin: 0;
  height: 48px;
}

header a {
  text-decoration: none;
  color: #FFF;
}

header a:hover {
  color: #E00049;
  text-decoration: none;
}

header div {
  padding: 0 40px 0 60px;
}

#top-bar {
  background-color: #003469;
}

header ul {
  list-style: none;
  float: right;
}

header li {
  color: #FFF;
  display: inline-block;
  line-height: 48px;
}

header li a {
  padding: 0 20px;
}

header li:first-child a {
  border-right: 1px solid #FFF;
  padding-right: 25px;
}

#bottom-bar {
  background-color: #E00049;
  height: 90px;
}

#side-bar {
  float: left;
  background-color: #FFF;
  width: 200px;
  text-align: center;
}

#side-bar ul {
  list-style-type: none;
  height: 100%;
}

#side-bar li {
  line-height: 50px;
  font-size: large;
  border-bottom: 0px;
  text-transform: uppercase;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover, .active {
  text-decoration: none;
  color: #FFF;
}

nav a:hover li, .active li {
  background-color: #E00049;
}

section#content {
  background-color: #FFF;
  width: 100%;
  overflow: hidden;
}

section#content table {
  margin-left: 0;
}

section#content h2 {
  margin-top: 50px;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 500px;
}

input[type="submit"], input[type="button"] {
  height: 55px;
  width: 220px;
  background-color: #003469;
  color: #FFF;
  border: none;
  margin: 50px 40px;
}

.actions {
  text-align: center;
}

article {
  margin-left: 200px;
  padding: 50px;
  overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
  line-height: 50px;
  text-align: center;
  background-color: #95C8DA;
  width: 100%;
}

form {
  margin: 50px 50px 0 50px;
}

table {
  margin: 50px;
}

form > * {
  margin-top: 25px;
}

form > *:last-child {
  margin-top: 0px;
}

.table-hover tbody tr:hover {
  cursor: pointer;
}

@media only screen and (max-width: 904px) {
  #side-bar {
    height: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  #side-bar li {
    display: inline-block;
    border: none;
    padding: 0 12px;
    font-size: medium;
    margin: 0 -3px;
  }
  input[type="submit"], input[type="button"] {
    margin: 50px 30px;
    width: 175px;
  }
  header div {
    padding: 0 10px 0 30px;
  }
}

@media only screen and (max-width: 580px) {
  input[type="submit"], input[type="button"] {
    margin: 50px 10px;
    width: 175px;
  }
  header div {
    padding: 0 0 0 10px;
  }
  #side-bar li {
    padding: 0 7px;
  }
}

.button, .button:hover {
  display: block;
  margin: 50px auto 30px;
  background-color: #003469;
  height: 55px;
  width: 220px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

/*# sourceMappingURL=app.css.map */
