* {
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}

li {
    margin: 0px 10px;
    color: white;
}

li:hover {
}

li a {
    display: block;
}

li a:hover {
    background-color: #003469;
    color: #e00049;
}

nav.headbar {
    background-color: #e00049;
    font-size: 1.75em;
}

nav.userbar {
    background-color: #003469;
    font-size: 1.5em;
}

nav.headbar a {
    text-transform: uppercase;
}

nav.userbar a:hover {
    background-color: #e00049;
    color: #003469;
}

.right {
    text-align: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #95c8da;
    color: #003469;
    text-align: center;
}

.footer p {
    margin: 15px;
}